<html>
    <body>
        <h1>NextEngine Demo App</h1>
        <h2>アプリ利用企業一覧</h2>
        <a href="/">トップに戻る</a><br/>
        <br/>
        {{range .hoge}}
company_id:<br/>
            {{.company_id}}<br/>
        {{end}}
    </body>
</html>