<html>
    <body>
        <h1>NextEngine Demo App</h1>
        <h2>ログインユーザー情報取得</h2>
        <a href="/">トップに戻る</a><br/>
        <br/>
メイン機能担当者ID:<br/>
        {{.user.pic_id}}<br/>
担当者名:<br/>
        {{.user.pic_name}}<br/>
担当者カナ:
<br/>
        {{.user.pic_kana}}<br/>
部署名:<br/>
        {{.user.pic_post_name}}<br/>
社会保険区分:<br/>
        {{.user.pic_social_insurance_id}}<br/>
社会保険名:<br/>
        {{.user.pic_social_insurance_name}}<br/>
誕生日:<br/>
        {{.user.pic_birth_date}}<br/>
郵便番号:<br/>
        {{.user.pic_zip_code}}<br/>
住所1:<br/>
        {{.user.pic_address1}}<br/>
住所2:<br/>
        {{.user.pic_address2}}<br/>
携帯番号:<br/>
        {{.user.pic_mobile}}<br/>
電話番号:<br/>
        {{.user.pic_phone}}<br/>
メールアドレス:<br/>
        {{.user.pic_mail_address}}<br/>
入社日:<br/>
        {{.user.pic_entering_company_date}}<br/>
退職日:<br/>
        {{.user.pic_retirement_date}}<br/>
担当店舗コードリスト:<br/>
        {{.user.pic_charge_shop_id_list}}<br/>
テンプレートフラグ:<br/>
        {{.user.pic_template_flag}}<br/>
スキンカラー:<br/>
        {{.user.pic_skin_color}}<br/>
言語コード:<br/>
        {{.user.pic_language_code}}<br/>
uid:<br/>
        {{.user.uid}}<br/>
ネクストエンジン担当者ID:<br/>
        {{.user.pic_ne_id}}<br/>
削除フラグ:<br/>
        {{.user.pic_deleted_flag}}<br/>
作成日:<br/>
        {{.user.pic_creation_date}}<br/>
最終更新日:<br/>
        {{.user.pic_last_modified_date}}<br/>
作成担当者ID:<br/>
        {{.user.pic_creator_id}}<br/>
作成担当者名:<br/>
        {{.user.pic_creator_name}}<br/>
最終更新者ID:<br/>
        {{.user.pic_last_modified_by_id}}<br/>
最終更新者名:<br/>
        {{.user.pic_last_modified_by_name}}<br/>
    </body>
</html>